extends layout

block content
	h1 Create new chat room

	form(method="post")
		feildset.form-group
			label(for="name") Name:
			input.form-control(name="name", type="text", placeholder="Enter a name")
			br
			small.text-muted Give your chat room a meaningful name.
			br
			br
		button.btn.btn-primary(type="submit") Create chat room